.App {
  color: #333;
  border: 1px solid rgba(241,241,241,1);
  font-family: Arial;
  border-radius: 4px;
  background: #fff;
  display: flex;
  min-height: 100vh;
  min-width: 57em;
}
.left {
  flex: 1;
}
.right {
  box-sizing: border-box;
  padding: 0 2em;
  flex: 4;
  background: url(http://i4.buimg.com/588926/3c86187c147e715f.jpg) no-repeat center center;
  background-size: cover;
}
.App>h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App>h1>button {
  margin-left:1em;
  padding: .3em;
  cursor: pointer;
}
.App>h1>button:hover {
  color: red;
}
.App> .todoList> li:nth-child(odd){
  color: #fff;
	background: rgba(0,0,10,.4);
}
.App > .todoList > li:nth-child(even){
	background: transparent;
  color: #333;
}