*::selection {
	background-color: yellow;
}
body {
  background: #ddd;
  font-family: Arial;
}

#root {
	/*display: flex;
	justify-content: center;*/
	min-height: 100vh;
	background: rgba(250,250,250,1)
}
