.TodoItem {
	background: #fff;
	border-radius: 2px;
	margin: .2em 0;
	display: flex;
	height: 3em;
	align-items: center;
}
.TodoItem>input {
	width: 2em;
	height: 2em;
	margin-left: 1em;
}
.TodoItem>input:checked~label {
	color: #8c8c8c;
	text-decoration: line-through;
	font-weight: lighter;
	opacity: .5;
}
.TodoItem>label {
	font-size: 1.5em;
	padding: .5em;
	flex: 1;
}
.TodoItem:hover .icon-close {
	display: block;
}
.TodoItem>.icon-close {
	display: none;
	cursor: pointer;
	margin-right: 1em;
}
.icon-close:hover {
	color: red;
}